$default-breakpoint: medium;
$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 980px
);

$grid: (
  max-width: 1160px
);

$ionicons-font-path: '~ionicons/dist/fonts';

@import './helpers/all';
@import '~normalize.css';
@import 'base/global';
@import 'base/typography';
@import 'layout/grid';
@import 'components/top-nav';

